.pic1 {
    img {
        box-shadow: 0 0 5px $grey-color;
        width: 100%;
    }
    
.pic2 {
    img {
        box-shadow: 0 0 5px $grey-color;
        width: 300%;
    }

.pic3 {
    img {
        box-shadow: 0 0 5px $grey-color;
        width: 300%;
    }
